<div class="shop-main-container">

  <div class="top-section">
    <app-profile></app-profile>
    <app-date-time></app-date-time>
    <button class="add-to-cart-button" (click)="addToCart()">Add to Cart</button>
  </div>

  <div class="second-section">
    <!-- <app-shoppinglist-shop></app-shoppinglist-shop> -->
    <app-shoppinglist></app-shoppinglist>
  </div>

  <div class="third-section">
    <app-recommend-shop></app-recommend-shop>
  </div>

  <div class="bottom-section">
    <app-bestseller-shop></app-bestseller-shop>
  </div>
    <!-- Rest of your shop main content goes here -->
    
</div>
  