<div class="mobile-body">
    <h1>Shop_Main</h1>
    <div style="width: 1920px; height: 1080px; position: relative; background: white">
    <div style="width: 185px; height: 1080px; left: 0px; top: 0px; position: absolute; background: #D9D9D9"></div>
    <div style="width: 141px; height: 156.50px; left: 25px; top: 282px; position: absolute">
        <div style="width: 141px; height: 60px; left: 0px; top: 96.50px; position: absolute; color: black; font-size: 26px; font-family: Montserrat; font-weight: 400; word-wrap: break-word">Products</div>
        <div style="width: 88px; height: 79px; left: 17px; top: 2px; position: absolute; background: #555454"></div>
    </div>
    <div style="width: 90.93px; height: 152px; left: 41px; top: 478px; position: absolute; flex-direction: column; justify-content: center; align-items: center; gap: 14px; display: inline-flex">
        <div style="width: 90.93px; height: 99px; background: #555454"></div>
        <div style="width: 59px; height: 39px; color: black; font-size: 26px; font-family: Montserrat; font-weight: 400; word-wrap: break-word">Cart</div>
    </div>
    <div style="width: 96px; height: 149px; left: 45px; top: 686px; position: absolute">
        <div style="width: 90px; height: 46px; left: 6px; top: 103px; position: absolute; color: black; font-size: 26px; font-family: Montserrat; font-weight: 400; word-wrap: break-word">Offers</div>
        <div style="width: 90.93px; height: 99px; left: 0px; top: 0px; position: absolute; background: #555454"></div>
    </div>
    <div style="width: 150px; height: 197px; left: 17px; top: 46px; position: absolute; flex-direction: column; justify-content: center; align-items: center; gap: 7px; display: inline-flex">
        <div style="width: 150px; height: 150px; position: relative">
        <div style="width: 150px; height: 150px; left: 0px; top: 0px; position: absolute; background: #92C848; border-radius: 9999px"></div>
        <div style="width: 99px; height: 99px; left: 24.99px; top: 20px; position: absolute; background: white"></div>
        </div>
        <div style="width: 83px; height: 40px; color: black; font-size: 26px; font-family: Montserrat; font-weight: 400; word-wrap: break-word">Home</div>
    </div>
    <div style="width: 106px; height: 139px; left: 41px; top: 890px; position: absolute">
        <div style="left: 6px; top: 100px; position: absolute; color: #C93315; font-size: 26px; font-family: Poppins; font-weight: 500; word-wrap: break-word">Log Out</div>
        <div style="width: 90px; height: 90px; left: 0px; top: 0px; position: absolute; background: #C93315"></div>
    </div>
    <div style="width: 1735px; height: 125px; left: 185px; top: 957px; position: absolute">
        <div style="width: 1735px; height: 121.53px; left: 0px; top: 0px; position: absolute; background: #92C848"></div>
        <div style="width: 508.69px; height: 62.50px; left: 1180.89px; top: 29.51px; position: absolute">
        <div style="width: 508.69px; height: 62.50px; left: 0px; top: 0px; position: absolute; background: #F5F5F5; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25); border-radius: 10px"></div>
        <div style="width: 19.73px; height: 23.44px; left: 456.07px; top: 20.83px; position: absolute; background: #D9D9D9"></div>
        </div>
        <div style="width: 60.56px; height: 69.44px; left: 305.82px; top: 27.78px; position: absolute"></div>
        <div style="width: 271px; height: 50.35px; left: 21.20px; top: 39.93px; position: absolute; color: black; font-size: 30px; font-family: Montserrat; font-weight: 400; word-wrap: break-word">Interaction ways :</div>
        <div style="width: 63.59px; height: 72.92px; left: 401.20px; top: 24.31px; position: absolute">
        <div style="width: 63.59px; height: 72.92px; left: 0px; top: 0px; position: absolute; background: #D4D4D4; border-radius: 9999px"></div>
        <img style="width: 51.50px; height: 34.95px; left: 5.78px; top: 18.68px; position: absolute" src="https://via.placeholder.com/51x35" />
        </div>
    </div>
    <img style="width: 403px; height: 127px; left: 801px; top: 953px; position: absolute" src="https://via.placeholder.com/403x127" />
    <div style="width: 1574px; height: 186px; left: 249px; top: 182px; position: absolute; background: #D9D9D9"></div>
    <div style="width: 13px; height: 20px; left: 1477px; top: 270px; position: absolute; background: white"></div>
    <div style="width: 234px; height: 73px; left: 1545px; top: 243px; position: absolute; background: #92C848; border-radius: 15px"></div>
    <div style="width: 1129px; height: 162px; left: 283px; top: 191px; position: absolute">
        <div style="width: 158px; height: 158px; left: 0px; top: 3.63px; position: absolute; background: white; border-radius: 10px; border: 1px #D9D9D9 solid"></div>
        <div style="width: 158px; height: 158px; left: 192px; top: 4px; position: absolute; background: white; border-radius: 10px; border: 2px #92C848 solid"></div>
        <div style="width: 158px; height: 158px; left: 388px; top: 4px; position: absolute; background: white; border-radius: 10px; border: 1px #D9D9D9 solid"></div>
        <div style="width: 158px; height: 158px; left: 581px; top: 4px; position: absolute; background: white; border-radius: 10px; border: 2px #92C848 solid"></div>
        <div style="width: 158px; height: 158px; left: 776px; top: 4px; position: absolute; background: white; border-radius: 10px; border: 1px #D9D9D9 solid"></div>
        <div style="width: 69px; height: 32.78px; left: 826px; top: 93px; position: absolute; color: black; font-size: 20px; font-family: DM Sans; font-weight: 400; word-wrap: break-word">Brocoli</div>
        <div style="width: 78px; height: 29px; left: 820px; top: 119px; position: absolute; opacity: 0.20; background: white; border-radius: 8px; border: 1px black solid"></div>
        <div style="left: 853px; top: 120px; position: absolute; color: black; font-size: 20px; font-family: DM Sans; font-weight: 400; word-wrap: break-word">2</div>
        <img style="width: 103px; height: 90px; left: 804px; top: 7px; position: absolute" src="https://via.placeholder.com/103x90" />
        <div style="width: 158px; height: 158px; left: 971px; top: 0px; position: absolute; background: white; border-radius: 10px; border: 1px #D9D9D9 solid"></div>
        <img style="width: 43px; height: 77px; left: 1028px; top: 5px; position: absolute" src="https://via.placeholder.com/43x77" />
        <img style="width: 28px; height: 76px; left: 453px; top: 7px; position: absolute" src="https://via.placeholder.com/28x76" />
        <div style="width: 85px; height: 17px; left: 41px; top: 91px; position: absolute; color: black; font-size: 20px; font-family: DM Sans; font-weight: 400; word-wrap: break-word">Tomato</div>
        <div style="width: 85px; height: 17px; left: 234px; top: 89px; position: absolute; color: black; font-size: 20px; font-family: DM Sans; font-weight: 400; word-wrap: break-word">Orange</div>
        <div style="width: 49px; height: 17px; left: 443px; top: 89px; position: absolute; text-align: center; color: black; font-size: 20px; font-family: DM Sans; font-weight: 400; word-wrap: break-word">Milk</div>
        <div style="width: 49px; height: 17px; left: 638px; top: 93px; position: absolute; text-align: center; color: black; font-size: 20px; font-family: DM Sans; font-weight: 400; word-wrap: break-word">Egg</div>
        <div style="width: 103px; height: 17px; left: 1002px; top: 84px; position: absolute; text-align: center; color: black; font-size: 20px; font-family: DM Sans; font-weight: 400; word-wrap: break-word">Ketchup</div>
        <img style="width: 122.59px; height: 96.86px; left: 20px; top: 0px; position: absolute; border-radius: 10px" src="https://via.placeholder.com/123x97" />
        <div style="width: 88px; height: 29px; left: 31px; top: 122px; position: absolute; background: white; border-radius: 8px; border: 1px black solid"></div>
        <div style="width: 88px; height: 29px; left: 228px; top: 122px; position: absolute; background: white; border-radius: 8px; border: 1px black solid"></div>
        <div style="width: 88px; height: 29px; left: 618px; top: 120px; position: absolute; background: white; border-radius: 8px; border: 1px black solid"></div>
        <div style="width: 88px; height: 29px; left: 1006px; top: 119px; position: absolute; background: white; border-radius: 8px; border: 1px black solid"></div>
        <div style="width: 88px; height: 29px; left: 427px; top: 122px; position: absolute; background: white; border-radius: 8px; border: 1px black solid"></div>
        <div style="width: 8.17px; height: 17.86px; left: 68px; top: 123px; position: absolute; color: black; font-size: 20px; font-family: DM Sans; font-weight: 400; word-wrap: break-word">2</div>
        <div style="width: 8.17px; height: 17.86px; left: 265px; top: 123px; position: absolute; color: black; font-size: 20px; font-family: DM Sans; font-weight: 400; word-wrap: break-word">2</div>
        <div style="width: 8.17px; height: 17.86px; left: 655px; top: 121px; position: absolute; color: black; font-size: 20px; font-family: DM Sans; font-weight: 400; word-wrap: break-word">6</div>
        <div style="width: 8.17px; height: 17.86px; left: 464px; top: 123px; position: absolute; color: black; font-size: 20px; font-family: DM Sans; font-weight: 400; word-wrap: break-word">1</div>
        <div style="left: 1045px; top: 121px; position: absolute; color: black; font-size: 20px; font-family: DM Sans; font-weight: 400; word-wrap: break-word">1</div>
        <img style="width: 89px; height: 75px; left: 617px; top: 14px; position: absolute" src="https://via.placeholder.com/89x75" />
    </div>
    <div style="width: 519px; height: 117px; left: 248px; top: 18px; position: absolute">
        <div style="width: 519px; height: 117px; left: 0px; top: 0px; position: absolute; background: #D9D9D9"></div>
        <img style="width: 110.70px; height: 92.51px; left: 45.58px; top: 12.24px; position: absolute; border-radius: 9999px" src="https://via.placeholder.com/111x93" />
        <div style="width: 122px; height: 28.41px; left: 161px; top: 30.09px; position: absolute; text-align: center; color: black; font-size: 30px; font-family: Inter; font-weight: 400; line-height: 21px; word-wrap: break-word">Dada</div>
        <div style="width: 179.07px; height: 28.57px; left: 160px; top: 75.72px; position: absolute; text-align: center; color: black; font-size: 30px; font-family: Italianno; font-weight: 400; line-height: 21px; word-wrap: break-word">Good Morning!</div>
        <div style="width: 78.14px; height: 13.60px; left: 399px; top: 30.92px; position: absolute; background: white"></div>
        <div style="width: 78.14px; height: 13.60px; left: 399px; top: 51.33px; position: absolute; background: white"></div>
        <div style="width: 78.14px; height: 13.60px; left: 399px; top: 71.74px; position: absolute; background: white"></div>
    </div>
    <div style="width: 446px; height: 117px; left: 808px; top: 18px; position: absolute; background: #D9D9D9"></div>
    <div style="width: 524px; height: 117px; left: 1298px; top: 18px; position: absolute; background: #92C848; border-radius: 15px"></div>
    <div style="width: 323px; height: 73px; left: 869px; top: 3px; position: absolute; text-align: center; color: black; font-size: 30px; font-family: Almarai; font-weight: 400; letter-spacing: 4.88px; word-wrap: break-word">Monday, Oct. 21</div>
    <div style="width: 323px; height: 73px; left: 1407px; top: 39px; position: absolute; text-align: center; color: black; font-size: 30px; font-family: Almarai; font-weight: 400; letter-spacing: 4.88px; word-wrap: break-word">Add to Cart</div>
    <div style="width: 323px; height: 73px; left: 1500px; top: 243px; position: absolute; text-align: center; color: black; font-size: 30px; font-family: Almarai; font-weight: 400; letter-spacing: 4.88px; word-wrap: break-word">Select All</div>
    <div style="width: 323px; height: 73px; left: 869px; top: 63px; position: absolute; text-align: center; color: black; font-size: 30px; font-family: Almarai; font-weight: 400; letter-spacing: 4.88px; word-wrap: break-word">09 : 54</div>
    <div style="width: 13px; height: 20px; left: 1781px; top: 524px; position: absolute; background: white"></div>
    <div style="width: 745px; height: 43px; left: 244px; top: 376px; position: absolute; color: black; font-size: 30px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Recommended for You (Interests and history)</div>
    <div style="width: 1391px; height: 232px; left: 332px; top: 708px; position: absolute; background: #D9D9D9"></div>
    <div style="width: 1576px; height: 232px; left: 248px; top: 708px; position: absolute; background: #D9D9D9"></div>
    <div style="width: 158px; height: 46px; left: 248px; top: 662px; position: absolute; color: black; font-size: 30px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Best Seller</div>
    <div style="width: 239px; height: 46px; left: 250px; top: 141px; position: absolute; color: black; font-size: 30px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Shopping List</div>
    <div style="width: 13px; height: 20px; left: 1781px; top: 813px; position: absolute; background: white"></div>
    <div style="width: 1391px; height: 232px; left: 332px; top: 419px; position: absolute; background: #D9D9D9"></div>
    <div style="width: 1576px; height: 232px; left: 248px; top: 419px; position: absolute; background: #D9D9D9"></div>
    <div style="width: 13px; height: 20px; left: 1771px; top: 525px; position: absolute; background: white"></div>
    <div style="width: 283px; height: 194px; left: 303px; top: 439px; position: absolute">
        <div style="width: 283px; height: 194px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 10px; border: 1px #D4D4D4 solid"></div>
        <div style="width: 255px; height: 62px; left: 20px; top: 128px; position: absolute; color: black; font-size: 20px; font-family: Montserrat; font-weight: 400; word-wrap: break-word">Lenovo K3 Mini Outdoor Wireless Speaker</div>
        <img style="width: 108px; height: 94px; left: 31px; top: 15px; position: absolute" src="https://via.placeholder.com/108x94" />
        <div style="width: 103.77px; height: 33.93px; left: 168px; top: 52px; position: absolute; color: #92C848; font-size: 30px; font-family: Montserrat; font-weight: 600; word-wrap: break-word">€ 80</div>
    </div>
    <div style="width: 283px; height: 194px; left: 295px; top: 731px; position: absolute">
        <div style="width: 283px; height: 194px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 10px; border: 1px #D4D4D4 solid"></div>
        <div style="width: 255px; height: 62px; left: 20px; top: 128px; position: absolute; color: black; font-size: 20px; font-family: Montserrat; font-weight: 400; word-wrap: break-word">Lenovo K3 Mini Outdoor Wireless Speaker</div>
        <img style="width: 108px; height: 94px; left: 31px; top: 15px; position: absolute" src="https://via.placeholder.com/108x94" />
        <div style="width: 103.77px; height: 33.93px; left: 168px; top: 52px; position: absolute; color: #92C848; font-size: 30px; font-family: Montserrat; font-weight: 600; word-wrap: break-word">€ 80</div>
    </div>
    <div style="width: 287px; height: 194px; left: 647px; top: 439px; position: absolute">
        <div style="width: 283px; height: 194px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 10px; border: 1px #D4D4D4 solid"></div>
        <div style="width: 255px; height: 52px; left: 32px; top: 121px; position: absolute; color: black; font-size: 20px; font-family: Montserrat; font-weight: 400; word-wrap: break-word">Motul 5100 10W40 4-Stroke Motor<br/>cycle Engine Oil 1 Litre<br/></div>
        <img style="width: 83px; height: 119px; left: 35px; top: 3px; position: absolute" src="https://via.placeholder.com/83x119" />
        <div style="width: 103.77px; height: 33.93px; left: 168px; top: 52px; position: absolute; color: #92C848; font-size: 30px; font-family: Montserrat; font-weight: 600; word-wrap: break-word">€ 12</div>
    </div>
    <div style="width: 287px; height: 194px; left: 643px; top: 728px; position: absolute">
        <div style="width: 283px; height: 194px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 10px; border: 1px #D4D4D4 solid"></div>
        <div style="width: 255px; height: 52px; left: 32px; top: 121px; position: absolute; color: black; font-size: 20px; font-family: Montserrat; font-weight: 400; word-wrap: break-word">Motul 5100 10W40 4-Stroke Motor<br/>cycle Engine Oil 1 Litre<br/></div>
        <img style="width: 83px; height: 119px; left: 35px; top: 3px; position: absolute" src="https://via.placeholder.com/83x119" />
        <div style="width: 103.77px; height: 33.93px; left: 168px; top: 52px; position: absolute; color: #92C848; font-size: 30px; font-family: Montserrat; font-weight: 600; word-wrap: break-word">€ 12</div>
    </div>
    <div style="width: 283px; height: 194px; left: 1343px; top: 439px; position: absolute">
        <div style="width: 283px; height: 194px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 10px; border: 1px #D4D4D4 solid"></div>
        <div style="width: 255px; height: 62px; left: 20px; top: 128px; position: absolute; color: black; font-size: 20px; font-family: Montserrat; font-weight: 400; word-wrap: break-word">Lenovo K3 Mini Outdoor Wireless Speaker</div>
        <img style="width: 108px; height: 94px; left: 31px; top: 15px; position: absolute" src="https://via.placeholder.com/108x94" />
        <div style="width: 103.77px; height: 33.93px; left: 168px; top: 52px; position: absolute; color: #92C848; font-size: 30px; font-family: Montserrat; font-weight: 600; word-wrap: break-word">€ 80</div>
    </div>
    <div style="width: 283px; height: 194px; left: 1355px; top: 729px; position: absolute">
        <div style="width: 283px; height: 194px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 10px; border: 1px #D4D4D4 solid"></div>
        <div style="width: 255px; height: 62px; left: 20px; top: 128px; position: absolute; color: black; font-size: 20px; font-family: Montserrat; font-weight: 400; word-wrap: break-word">Lenovo K3 Mini Outdoor Wireless Speaker</div>
        <img style="width: 108px; height: 94px; left: 31px; top: 15px; position: absolute" src="https://via.placeholder.com/108x94" />
        <div style="width: 103.77px; height: 33.93px; left: 168px; top: 52px; position: absolute; color: #92C848; font-size: 30px; font-family: Montserrat; font-weight: 600; word-wrap: break-word">€ 80</div>
    </div>
    <img style="width: 85px; height: 74px; left: 512px; top: 206px; position: absolute" src="https://via.placeholder.com/85x74" />
    <div style="width: 283px; height: 194px; left: 997px; top: 439px; position: absolute">
        <div style="width: 283px; height: 194px; left: 0px; top: 0px; position: absolute">
        <div style="width: 283px; height: 194px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 10px; border: 1px #D4D4D4 solid"></div>
        <div style="width: 255px; left: 20px; top: 128px; position: absolute; color: black; font-size: 20px; font-family: Montserrat; font-weight: 400; word-wrap: break-word">Mi Multicolor Mini Backpack Travel</div>
        <div style="width: 103.77px; height: 33.93px; left: 168px; top: 52px; position: absolute; color: #92C848; font-size: 30px; font-family: Montserrat; font-weight: 600; word-wrap: break-word">€ 10.3</div>
        </div>
        <img style="width: 91px; height: 107px; left: 30px; top: 14px; position: absolute" src="https://via.placeholder.com/91x107" />
    </div>
    <div style="width: 283px; height: 194px; left: 998px; top: 728px; position: absolute">
        <div style="width: 283px; height: 194px; left: 0px; top: 0px; position: absolute">
        <div style="width: 283px; height: 194px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 10px; border: 1px #D4D4D4 solid"></div>
        <div style="width: 255px; left: 20px; top: 128px; position: absolute; color: black; font-size: 20px; font-family: Montserrat; font-weight: 400; word-wrap: break-word">Mi Multicolor Mini Backpack Travel</div>
        <div style="width: 103.77px; height: 33.93px; left: 168px; top: 52px; position: absolute; color: #92C848; font-size: 30px; font-family: Montserrat; font-weight: 600; word-wrap: break-word">€ 10.3</div>
        </div>
        <img style="width: 91px; height: 107px; left: 30px; top: 14px; position: absolute" src="https://via.placeholder.com/91x107" />
    </div>
    </div>
</div>
