.shop-main-container {
  position: relative;
  background: white;
  margin-left: 10vw; /* Left space for the navigation bar */
  margin-bottom: 8vh; /* Bottom space for the bottom bar */
  height: calc(92vh - 8vh); /* Relative to the viewport height */
  width: 90vw; /* Relative to the viewport width */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align children to the start of the container */
  padding-top: 1vh;
}

.top-section {
  display: flex;
  width: 100%; /* Take full width of the container */
  justify-content: space-between; /* Distribute children on both ends */
  align-items: center;
  padding: 1vh 0; /* Padding top and bottom relative to viewport height */
}

app-profile {
  /* Align the profile to the left within the top-section */
  align-self: flex-start;
  margin-left: 2vw; /* Margin left relative to viewport width */
  min-height: 10vh; /* Minimum height relative to viewport height */
  width: auto; /* Let the component decide its width */
}

app-date-time {
  /* Center the date-time within the top-section */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  min-height: 10vh; /* Minimum height relative to viewport height */
}
