.shop-main-container {
  position: relative;
  background: white;
  margin-left: 10vw; /* Left space for the navigation bar */
  margin-bottom: 8vh; /* Bottom space for the bottom bar */
  height: calc(92vh - 8vh); /* Relative to the viewport height */
  width: 90vw; /* Relative to the viewport width */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align children to the start of the container */
  padding-top: 1vh;
}

.top-section {
  display: flex;
  width: 100%; /* Take full width of the container */
  justify-content: space-between; /* Distribute children on both ends */
  align-items: center;
  padding: 1vh 2vw; /* Padding top and bottom relative to viewport height */
}

.second-section {
  display: flex;
  width: 100%; /* Take full width of the container */
  justify-content: space-between; /* Distribute children on both ends */
  align-items: center;
  padding: 1vh 2vw; /* Padding top and bottom relative to viewport height */
}

.third-section {
  display: flex;
  width: 100%; /* Take full width of the container */
  justify-content: space-between; /* Distribute children on both ends */
  align-items: center;
  padding: 1vh 2vw; /* Padding top and bottom relative to viewport height */
}

.bottom-section {
  display: flex;
  width: 100%; /* Take full width of the container */
  justify-content: space-between; /* Distribute children on both ends */
  align-items: center;
  padding: 1vh 2vw; /* Padding top and bottom relative to viewport height */
}

app-profile {
  /* Align the profile to the left within the top-section */
  align-self: flex-start;
  margin-left: 2vw; /* Margin left relative to viewport width */
  min-height: 10vh; /* Minimum height relative to viewport height */
  width: auto; /* Let the component decide its width */
}

app-date-time {
  /* Center the date-time within the top-section */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  min-height: 10vh; /* Minimum height relative to viewport height */
}

.add-to-cart-button {
  background-color: #92C848; /* Green background */
  color: white; /* White text color */
  border: none; /* No border */
  padding: 10px 20px; /* Vertical and horizontal padding */
  border-radius: 5px; /* Rounded corners to match design */
  font-size: 2vw; /* Font size */
  margin-right: 2vw;
  cursor: pointer; /* Pointer cursor on hover */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  align-self: center; /* Ensure the button is centered to the parent's cross axis */
}

.add-to-cart-button:hover {
  background-color: #7aa836; /* Slightly darker green on hover for visual feedback */
}

// app-shoppinglist-shop {
//   display: flex;
//   width: 100%; /* Full width to allow internal flexing of items */
//   padding: 0 2vw; /* Left and right padding to align with profile and button */
// }

app-shoppinglist {
  display: flex;
  width: 100%; /* Full width to allow internal flexing of items */
  padding: 0 2vw; /* Left and right padding to align with profile and button */
}

app-recommend-shop {
  display: flex;
  width: 100%; /* Full width to allow internal flexing of items */
  padding: 0 2vw; /* Left and right padding to align with profile and button */
}

app-bestseller-shop {
  display: flex;
  width: 100%; /* Full width to allow internal flexing of items */
  padding: 0 2vw; /* Left and right padding to align with profile and button */
}