<div class="products-shop-container">
  <!-- Main Category Container -->
  <div class="main-category-container">
      <div *ngFor="let mainCat of mainCategories" class="main-category" (click)="onMainCategorySelected(mainCat)">
          <img [src]="mainCat.imagePath" [alt]="mainCat.name" class="category-image">
          <span>{{ mainCat.name }}</span>
      </div>
  </div>
  
  <!-- Subcategory Container -->
  <div *ngIf="selectedMainCategory" class="subcategory-container">
      <div *ngFor="let subCat of selectedMainCategory.subcategories" class="subcategory" (click)="onSubCategorySelected(subCat)">
          <img *ngIf="subCat.products[0]" [src]="subCat.products[0].ImagePath" [alt]="subCat.name" class="subcategory-image">
          <span>{{ subCat.name }}</span>
      </div>
  </div>
  
  <!-- Products Container -->
  <div *ngIf="selectedSubCategory" class="products-container">
    <div *ngFor="let product of selectedSubCategory.products" class="product-box" (click)="onProductSelected(product)">
      <img [src]="product.ImagePath" alt="{{ product.Name }}">
      <div class="product-info">
        <div class="product-name">{{ product.Name }}</div>
        <div class="product-price">{{ product.Price | currency:'EUR' }}</div>
      </div>
    </div>
  </div>
</div>
