
<html>
  <div class="mobile-body">
    <h1>Shop_Login</h1>
    <div style="width: 1920px; height: 1080px; position: relative; background: #92C848">
      <!-- <div style="width: 798px; height: 829px; left: 104px; top: 108px; position: absolute; background: #D9D9D9"></div> -->
      <!-- <div style="left: 408px; top: 535px; position: absolute; text-align: center; color: black; font-size: 18px; font-family: Montserrat; font-weight: 400; word-wrap: break-word">Camera Realtime</div> -->
      <div style="width: 798px; height: 829px; left: 104px; top: 108px; position: absolute; background: #D9D9D9">
        <video #video width="798px" height="829px" autoplay></video>
        <button (click)="getMedia()">Open Camera</button>
        <button (click)="stopMedia()">Close Camera</button>
        <button (click)="takePhoto()">Shot</button>
        <canvas #canvas width="300px" height="300px"></canvas>
      </div>
      <div style="width: 778px; height: 829px; left: 1033px; top: 108px; position: absolute; background: white">
        <div style="left: 229px; top: 661px; position: absolute; color: #333333; font-size: 32px; font-family: Poppins; font-weight: 500; word-wrap: break-word">Log in with QR Code</div>
        <div style="left: 83px; top: 729px; position: absolute; color: #333333; font-size: 32px; font-family: Poppins; font-weight: 500; word-wrap: break-word">Scan this with our mobile APP to log in </div>
        <img style="width: 300px; height: 300px; left: 236px; top: 326px; position: absolute" src="../../../assets/login/qr.png" />
        <img style="width: 655px; height: 177px; left: 73px; top: 114px; position: absolute" src="../../../assets/logo.png" />
      </div>
    </div>
  </div>
</html>
  
