<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Phone Login</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="mobile-body" style="margin-bottom: 2em ">
  <div class="logo-container">
    <img src="assets/phone-images/ShopWise.png" alt="ShopWise Logo">
  </div>
  <div class="container img-fluid">
    <div class="row ">
      <div class="col-4" style="margin-bottom: 20px">
       <img src="../../../assets/phone-images/PersonalPhoto.png" alt="PersonaPhone.png">
      </div>

      <div class="col-8">
        Dada <br> 26 Male <br> Nik Plastira 100 , Iraklios 100 73
      </div>

      <div class="col-4">
        <button class="icon-button" (click)="goToListPage()" >
          <img src="../../../assets/phone-images/List.png" alt="List.png">
        </button>
        <p>My List</p>
      </div>

      <div class="col-4">
        <button class="icon-button"  (click)="goQrCodeScanPage()">
          <img src="../../../assets/phone-images/Scan.png" alt="Scan.png" >
        </button>
        <p>Scan</p>
      </div>

      <div class="col-4">
        <button class="icon-button" (click)="goCartPage()">
          <img src="../../../assets/phone-images/Shop.png" alt="Shop.png">
        </button>
        <p>My Cart</p>
      </div>
    </div>

    <div class="green-box">
      <div class="container">
        <div class="row">
          <div class="col-3 text-left" >
            <img src="assets/phone-images/person.svg" alt="Person" >
          </div>
          <div class="col-6 text-center">
            <p>Edit Profile</p>
          </div>
          <div class="col-3 text-right">
            <button (click)="goToEditProfilePage()">
              <img src="assets/phone-images/arrow-right.svg" alt="arrow">
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="green-box">
      <div class="container">
        <div class="row">
          <div class="col-3 text-left" >
            <img src="../../../assets/phone-images/arrow-through-heart.svg" alt="Arrow Heart" >
          </div>
          <div class="col-6">
            <p>Shop History</p>
          </div>
          <div class="col-3 text-right">
            <button (click)="goToShopHistoryPage()">
              <img src="assets/phone-images/arrow-right.svg" alt="arrow">
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="green-box">
      <div class="container">
        <div class="row">
          <div class="col-3 text-left" >
            <img src="assets/phone-images/bell.svg" alt="Bell" >
          </div>
          <div class="col-6 text-center">
            <p>Card payment</p>
          </div>
          <div class="col-3 text-right">
            <button (click)="goToCardPaymentPage()">
              <img src="assets/phone-images/arrow-right.svg" alt="arrow">
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="green-box">
      <div class="container">
        <div class="row">
          <div class="col-3 text-left" >
            <img src="assets/phone-images/shop.svg" alt="Shop" >
          </div>
          <div class="col-6 text-center">
            <p>Shop in maps</p>
          </div>
          <div class="col-3 text-right">
            <button (click)="goToShopLocationPage()">
              <img src="assets/phone-images/arrow-right.svg" alt="arrow">
            </button>
          </div>
        </div>
      </div>
    </div>



    <div class="green-box">
      <div class="container">
        <div class="row">
          <div class="col-3 text-left" >
            <img src="assets/phone-images/incognito.svg" alt="Icognito" >
          </div>
          <div class="col-6 text-center">
            <p>Help Center</p>
          </div>
          <div class="col-3 text-right">
            <img src="assets/phone-images/arrow-right.svg" alt="arrow">
          </div>
        </div>
      </div>
    </div>



    <div class="green-box">
      <div class="container">
        <div class="row">
          <div class="col-3 text-left" >
            <img src="assets/phone-images/exclamation-lg.svg" alt="Exclamation" >
          </div>
          <div class="col-6 text-center">
            <p>Feedback</p>
          </div>
          <div class="col-3 text-right" >
            <img src="assets/phone-images/arrow-right.svg" alt="arrow">
          </div>
        </div>
      </div>
    </div>

      <a href="#" class="btn btn-info btn-lg" style="margin-top :10px;background-color: red">
        <span class="glyphicon glyphicon-log-out"></span> Log out
      </a>

  </div>
</div>
</body>
</html>

