.app-shoppinglist-phone {
  width: 100%; // Full width of the main container
  height: 100vh; // Full height of the viewport
  overflow-y: auto; // Enable vertical scrolling
}
.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  width: 100%;
  height: auto;
}


button {
  background-color: #92C848;
  color: white;
  padding: 3px;
  border: none;
  border-radius: 20px;
  width: 35%;
  font-size: 2em;
  cursor: pointer;
  margin: 20px;
}

