<div class="logo-container" >
  <img (click)="goToFridgeMain()" src="assets/phone-images/ShopWise.png" alt="ShopWise Logo"  style="max-width: 40%; height: auto; cursor: pointer">
  <h1 style="width: 35%; text-align: center">For Fridge</h1>
</div>

<div class="logo-container" >
  <h1 style="width: 85%; text-align: left; margin-left: 25px" >Smart Recipe</h1>
  <button style="width: 15%; margin-right: 25px">Add Ingredients to List</button>

</div>
<div class="main-container">
  <div class="cart-container">
    <div class="item-box" *ngFor="let item of cartItems" [class.selected]="item.selected" (click)="toggleSelection(item)">
      <img [src]="item.imageUrl" [alt]="item.name" class="item-image">
      <div class="item-details">
        <div class="item-name">{{ item.name }}</div>
      </div>
    </div>
  </div>
</div>




