<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Phone Login</title>
</head>
<body>
<div class="mobile-body">
  <div class="logo-container">
    <img src="assets/phone-images/ShopWise.png" alt="ShopWise Logo">
  </div>
  <h1 class="heading">Log In</h1>
  <p class="login-text">Log In by face recognition</p>

  <div>
    <video id="camera" width="200" height="200" autoplay></video>
    <canvas id="photoCanvas" width="200" height="200"></canvas>
    <button id="captureButton">Capture Photo</button>
  </div>



  <div class="login-link">
    <p>Do not have an account? <a href="phone_sign">Sign Up</a></p>
  </div>
</div>
</body>
</html>

