<div class="category-page">
    <div class="category-container" *ngFor="let category of mainCategories">
      <!-- display main categories -->
    </div>
    
    <div class="subcategory-container" *ngFor="let subcategory of subCategories">
      <!-- display subcategories -->
    </div>
    
    <div class="subsubcategory-container" *ngFor="let subsubcategory of subSubCategories">
      <!-- display subsubcategories -->
    </div>
    
    <div class="item-container">
      <div class="item" *ngFor="let item of items">
        <img [src]="item.imageUrl" [alt]="item.name">
        <div class="item-details">
          <div class="item-name">{{ item.name }}</div>
          <div class="item-price">{{ item.price | currency:'EUR' }}</div>
        </div>
      </div>
    </div>
  </div>
  