<div class="shop-container">
    <div class="main-category-container">
      <div *ngFor="let mainCat of mainCategories" (click)="selectMainCategory(mainCat)">
        {{ mainCat.name }}
      </div>
    </div>
    
    <div class="subcategory-container">
      <div *ngFor="let subCat of selectedMainCategory?.subcategories" (click)="selectSubCategory(subCat)">
        {{ subCat.name }}
      </div>
    </div>
    
    <div class="product-container">
      <div *ngFor="let product of selectedProducts">
        <div class="product-card">
          <img [src]="product.iconicImagePath" alt="{{ product.className }}">
          <div class="product-info">
            <div>{{ product.className }}</div>
            <div>{{ product.price | currency:'EUR' }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  