body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.mobile-body {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.logo-container {
  margin-bottom: 20px;
}

.logo-container img {
  width: 50%;
  height: auto;
}

userPicture-container {
  margin-bottom: 20px;
}

.userPicture-container img {
  width: 50%;
  height: auto;
  margin-bottom: 20px;
}


.heading {
  font-size: 2em;
  margin-bottom: 0.5em;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 20px;
  width: 100%;
  font-size: 1.2em;
  cursor: pointer;
  margin-bottom: 2em;
}


button:hover {
  background-color: #45a049;
}
form {
  display: flex;
  flex-direction: row;
  gap: 10px; /* Adjust the gap between the elements as needed */
}

form {
  max-width: 300px;
  margin: 0 auto;
}

.tiny-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  border: 1px solid #333;
}

.tiny-button.white {
  background-color: #fff;
}

.tiny-button.black {
  background-color: #000;
}
