<div id="nav-container">
  <nav id="nav-bar">
    <a routerLink="shop_main" routerLinkActive="active" [ngClass]="{'active': isActive('/shop_main')}">
      <div class="nav-item">
        <img src="../../../../assets/nav-bar/home.png" alt="home icon">
        <p>Home</p>
      </div>
    </a>
    <a routerLink="shop_products" routerLinkActive="active" [ngClass]="{'active': isActive('/shop_products')}">
      <div class="nav-item">
        <img src="../../../../assets/nav-bar/products.png" alt="products icon">
        <p>Products</p>
      </div>
    </a>
    <a routerLink="shop_cart" routerLinkActive="active" [ngClass]="{'active': isActive('/shop_cart')}">
      <div class="nav-item">
        <div class="cart-icon-container">
          <img src="../../../../assets/nav-bar/cart.png" alt="cart icon">
          <span class="cart-item-count">{{ cartItemCount }}</span>
        </div>
        <p>Cart</p>
      </div>
    </a>
    <a routerLink="shop_offer" routerLinkActive="active" [ngClass]="{'active': isActive('/shop_offer')}">
      <div class="nav-item">
        <img src="../../../../assets/nav-bar/offers.png" alt="offers icon">
        <p>Offers</p>
      </div>
    </a>
    <a routerLink="shop_main" routerLinkActive="active" [ngClass]="{'active': isActive('/shop_main')}">
      <div class="nav-item">
        <img src="../../../../assets/nav-bar/logout.png" alt="logout icon">
        <p>Logout</p>
      </div>
    </a>
  </nav>
</div>
<router-outlet></router-outlet>
