#nav-container {
  width: 10vw; /* 10% of the viewport width */
  background-color: #d9d9d9;
  height: 100vh; /* 100% of the viewport height */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

#nav-bar a {
  flex: 1; /* This will distribute the space evenly among the anchor tags */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the content vertically */
  align-items: center; /* Center the content horizontally */
  text-align: center;
  padding: 5px;
}

#nav-bar a div {
  width: 100%; /* Use the full width of the parent */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#nav-bar a img {
  width: auto; /* Maintain the aspect ratio of the image */
  max-height: 100%; /* Use up to 100% of the parent's height if necessary */
}

#nav-bar a p {
  font-size: 1em; /* Use an appropriate font size that scales with the zoom */
}
