.inventory-wrapper {
  background-color: #d9d9d9;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  display: flex;
  width: 100%;
}

.inventory-title {
  position: absolute;
  top: 10px;
  left: 10px;
  margin: 0;
  color: #333;
  font-size: 1.5vw;
}

.inventory-container {
  width: 85%;
  white-space: nowrap;
  background-color: #d9d9d9;
  padding: 1vw 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  align-items: center;
  gap: 1vw;
  border-radius: 5px;
  margin: 1vh 0;
  margin-top: 2vh;
}

.item-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.item-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  flex: 0 0 auto;
  width: 13vw;
  height: 12vh;
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 20px;
  margin-top: 20px;

}

.item-image {
  height: 5vh;
  width: 5vw;
  margin-bottom: 5px;
}

.item-info {
  text-align: center;
  width: 70%;
}

.item-name {
  font-weight: bold;
  text-align: center;
  word-wrap: break-word;
}

.item-quantity {
  background-color: #92C848;
  color: white;
  padding: 2px 5px;
  border-radius: 5px;
}

.item-expire {
  background-color: #488ec8;
  color: white;
  padding: 2px 5px;
  border-radius: 5px;
}

.selected {
  border-color: yellow;
}

.button-container {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  justify-content: space-around;
}

.select-all-button,
.select-reverse-button,
.delete-button {
  background-color: #92C848;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 80%;
}

/* Add responsive breakpoints if necessary */
@media (max-width: 768px) {
  .item-box {
    width: 30vw;
    height: 25vh;
  }
}
