.shopping-list-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between; // Distribute space between list and buttons
  background-color: #d9d9d9;
  padding: 10px;
  border-radius: 5px;
  height: 100%; // Full height of the container
  width: 100%;
}

.shopping-list-title {
  color: #333;
  font-size: 1.5em; // Adjusted for better mobile visibility
  margin-bottom: 10px;
}

.shopping-list-container {
  flex-grow: 1; // Allow the list container to grow and fill available space
  overflow-y: auto; // Enable vertical scrolling for the list
  width: 100%;
  padding: 1vh 0; // Adjusted for vertical spacing
  display: flex;
  flex-direction: column; // Stack items vertically
  align-items: center;
  gap: 1vh; // Space between items
  height: 82vh;
}

.item-box {
  display: flex;
  align-items: center;
  justify-content: space-between; // Space elements evenly
  width: 95%; // Full width with some padding
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;

  &.selected {
    border-color: yellow;
  }

  .item-image {
    width: 20%; // Adjusted for better visibility
    height: auto; // Maintain aspect ratio
  }

  .item-name {
    font-weight: bold;
    flex-grow: 1; // Allow name to take remaining space
    text-align: center;
  }

  .item-quantity {
    background-color: #92C848;
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
    min-width: 20%; // Ensure visibility
    text-align: center;
  }
}

.button-container {
  display: flex;
  justify-content: space-around; // Space buttons evenly
  width: 100%; // Full width of the container

  position: fixed; // Fix the position of the button container
  bottom: 2vh; // Position it at the bottom of the viewport
  left: 0; // Align to the left edge of the viewport

  .select-all-button,
  .select-reverse-button,
  .delete-button {
    background-color: #92C848;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    width: 30%; // Each button takes 30% width
  }
}
