
<div class="shopping-list-wrapper">
  <h2 class="shopping-list-title">Shopping List</h2>
  <div class="shopping-list-container">
    <div class="item-box" *ngFor="let item of items" (click)="selectItem(item)" [class.selected]="item.selected">
      <img [src]="item.imageUrl" [alt]="item.name" class="item-image">
      <div class="item-info">
        <div class="item-name">{{ item.name }}</div>
        <div class="item-quantity">{{ item.quantity }}</div>
      </div>
    </div>
  </div>
  <div class="button-container">
    <button class="select-all-button" (click)="selectAllItems()">Select All</button>
    <button class="select-reverse-button" (click)="selectReverseItems()">Select Reverse</button>
  </div>
</div>
