
.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  width: 50%;
  height: auto;
}

button {
  background-color: #92C848;
  color: white;
  padding: 3px;
  border: none;
  border-radius: 20px;
  width: 35%;
  font-size: 2em;
  cursor: pointer;
  margin: 20px;
}

p {
  font-size: 2em;
}
.grey-box-2 {
  width: 80%;
  background-color: #dddddd;
  padding: 10px;
  margin: 20px;
}

.tiny-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  border: 1px solid #333;

}

.tiny-button.white {
  background-color: #fff;
}

.tiny-button.black {
  background-color: #000;
}


.fridge-category-container {
  display: flex;
  flex-direction: column; // Change to column for vertical stacking
  height: 100vh; // Viewport height
  width: 100vw; // Viewport width

  // Main category container styling
  .main-category-container {
    width: 100%; // Take the full width of the viewport
    height: 20vh; // Fixed height for the container
    overflow-x: auto; // Enable horizontal scrolling
    background-color: #f8f9fa;
    padding: 10px;
    display: flex; // Flex container for horizontal arrangement of items

    .main-category {
      flex: 0 0 auto; // Prevent main-category from growing or shrinking
      cursor: pointer;
      padding: 15px;
      margin-right: 10px; // Margin to the right of each category
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: #ffffff;
      transition: background-color 0.3s;
      width: 15vw; // Fixed width for each main category
      height: 13vh; // Height relative to the height of the viewport
      flex-direction: column; // Stack elements vertically
      align-items: center; // Center items horizontally
      justify-content: center; // Center items vertically

      img {
        height: 80%; // Image takes up 70% of the main category height
        width: 80%; // Full width of the main category container
        object-fit: cover; // Ensure the image covers the entire area
        margin-bottom: 4px; // Space between image and text
      }

      span {
        display: block; // Span takes up the full width
        text-align: center; // Center the text within the span
      }

      &:hover {
        background-color: #f0f0f0;
      }
    }
  }


  // Subcategory container styling
  .subcategory-container {
    width: 100%; // Take the full width of the viewport
    height: 42vh; // Fixed height for the container
    overflow-x: auto; // Enable horizontal scrolling
    background-color: #e9ecef;
    padding: 10px;
    display: flex; // Flex container for horizontal arrangement of items

    .subcategory {
      flex: 0 0 auto; // Prevent subcategory from growing or shrinking
      cursor: pointer;
      padding: 15px;
      margin-right: 10px; // Margin to the right of each subcategory
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: #ffffff;
      transition: background-color 0.3s;
      width: 18vw; // Fixed width for each subcategory
      height: 24vh; // Height relative to the height of the viewport
      flex-direction: column; // Stack elements vertically
      align-items: center; // Center items horizontally
      justify-content: center; // Center items vertically

      img {
        height: 80%; // Image takes up 70% of the subcategory height
        width: 90%; // Full width of the subcategory container
        object-fit: cover; // Ensure the image covers the entire area
        margin-bottom: 5px; // Space between image and text
      }

      span {
        display: block; // Span takes up the full width
        text-align: center; // Center the text within the span
      }

      &:hover {
        background-color: #e2e6ea;
      }
    }
  }


  // Products container styling
  .products-container {
    width: 100%; // Take the full width of the viewport
    overflow-y: auto;
    padding: 10px;
    background-color: #dee2e6;

    .product-box {
      background-color: #ffffff;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin: 10px;
      padding: 10px;
      width: calc(100% / 3 - 20px); // Three items per row
      box-sizing: border-box;
      display: inline-block;
      vertical-align: top;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
      transition: box-shadow 0.3s;

      &:hover {
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
      }

      img {
        width: 100%;
        border-radius: 4px;
        margin-bottom: 10px;
      }

      .product-info {
        margin-top: 10px;
        font-weight: bold;
        color: #333;
      }

      .product-price {
        margin-top: 5px;
        font-size: 1.2em;
        color: #888;
      }

      &.selected {
        border: 2px solid red; // Red stroke for selected box
      }
    }
  }

  // Button container styling
  .button-container {
    display: flex;
    justify-content: space-around; // Evenly space the buttons
    padding: 10px;
    width: 100%; // Take the full width of the viewport

    button {
      background-color: #92C848; 
      color: white;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      font-size: 1rem;
      cursor: pointer;
      width: 45%; // Each button takes almost half of the container width
    }
  }
}
