<div class="logo-container">
  <img (click)="goToFridgeMain()" src="assets/phone-images/ShopWise.png" alt="ShopWise Logo" style="max-width: 40%; height: auto; cursor: pointer">
  <h1 style="width: 35%; text-align: center">For Fridge</h1>
</div>

<div style="display: flex; justify-content: space-between; align-items: center; padding: 10px; background-color: #f0f0f0;">
  <!-- Search bar with search icon -->
  <div style="flex-grow: 1; display: flex; align-items: center;">
    <input type="text" placeholder="Search..." style="flex-grow: 1; padding: 8px; border: 1px solid #ccc; border-radius: 4px;">
    <i class="fa fa-search" style="margin-left: 5px; cursor: pointer;"></i>
  </div>

  <i class="fa fa-microphone" style="margin-left: 10px; cursor: pointer;"></i>
</div>
<h1> Category List</h1>

<div class="products-shop-container">
  <!-- Main Category Container -->
  <div class="main-category-container">
    <div *ngFor="let mainCat of mainCategories" class="main-category" (click)="onMainCategorySelected(mainCat)">
      <img [src]="mainCat.imagePath" [alt]="mainCat.name" class="category-image">
      <span>{{ mainCat.name }}</span>
    </div>
  </div>

  <!-- Subcategory Container -->
  <div *ngIf="selectedMainCategory" class="subcategory-container">
    <div *ngFor="let subCat of selectedMainCategory.subcategories" class="subcategory" (click)="onSubCategorySelected(subCat)">
      <img *ngIf="subCat.products[0]" [src]="subCat.products[0].ImagePath" [alt]="subCat.name" class="subcategory-image">
      <span>{{ subCat.name }}</span>
    </div>
  </div>

  <!-- Products Container -->
  <div *ngIf="selectedSubCategory" class="products-container">
    <div *ngFor="let product of selectedSubCategory.products" class="product-box" (click)="onProductSelected(product)">
      <img [src]="product.ImagePath" alt="{{ product.Name }}">
      <div class="product-info">
        <div class="product-name">{{ product.Name }}</div>
        <div class="product-price">{{ product.Price | currency:'EUR' }}</div>
      </div>
    </div>
  </div>
</div>


