.profile-container {
  display: flex;
  align-items: center;
  background-color: #d9d9d9; /* Grey background */
  border-radius: 5px; /* Rounded corners */
  padding: 1vw; /* Padding relative to viewport width */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  width: 25vw; /* Width relative to viewport width */
  height: 12vh; /* Height relative to viewport height */
  max-width: 500px; /* Maximum width to maintain design integrity */
  max-height: 120px; /* Maximum height to maintain design integrity */

  .profile-picture {
    width: 5vw; /* Width relative to viewport width */
    height: 5vw; /* Height relative to viewport width to maintain aspect ratio */
    border-radius: 50%; /* Circular image */
    margin-right: 1vw; /* Right margin relative to viewport width */
    max-width: 90px; /* Maximum width to maintain design integrity */
    max-height: 90px; /* Maximum height to maintain design integrity */
  }

  .profile-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align text to the start */
  }

  .profile-name {
    margin: 0;
    font-size: 1.5vw; /* Font size relative to viewport width */
    font-weight: bold;
    max-font-size: 2rem; /* Maximum font size to maintain design integrity */
  }

  .profile-greeting {
    margin: 0;
    font-size: 1.2vw; /* Font size relative to viewport width */
    color: #000000; /* Black text for the greeting */
    max-font-size: 1.7rem; /* Maximum font size to maintain design integrity */
  }

  .menu-icon {
    margin-left: auto; /* Pushes the menu to the end of the container */
    display: flex;
    flex-direction: column;
    justify-content: space-around; /* Even spacing between the lines */
    height: 3vh; /* Height relative to viewport height */
    max-height: 30px; /* Maximum height to maintain design integrity */
    
    span {
      display: block;
      height: 0.75vh; /* Height relative to viewport height */
      width: 100%;
      background: #ffffff; /* White color for the menu lines */
      max-height: 3px; /* Maximum height to maintain design integrity */
    }
  }
}
