<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Phone Sign Up</title>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
</head>
<body>
<button style="margin-left: 40px" class="button2" (click)="goToAccountPage()">
  <img style="margin-top: 30px;margin-left: 30px" src="assets/phone-images/arrow-left.svg" alt="Pencil square">
</button>
<div style="margin-left: 120px" class="mobile-body">
  <div class="logo-container">
    <img src="assets/phone-images/ShopWise.png" alt="ShopWise Logo">
  </div>
  <div class="logo-container">
    <img src="assets/phone-images/pngimg.com%20-%20qr_code_PNG33.png" alt="Qr code">
  </div>
  <h3>My Google Maps Demo</h3>
  <div class="logo-container">
    <img src="assets/phone-images/maps.png" alt="Maps Logo">
  </div>
</div>
</body>
</html>
