<!DOCTYPE html>
<html>

<head>
  <title>User Phone Sign</title>
</head>

<body>
<div class="mobile-body">
  <img src="assets/phone-images/ShopWise.png" alt="Your Image">
  <p class="heading">Sign Up</p>
  <p class="sign-text">Sign up for free access to in any of our products</p>

  <label class = "username" for="username">Username:</label>
  <input class = "username-input" type="text" id="username" name="username">

  <!--<input type="checkbox" class="agreement" id="Agreement" name="Agreement"> -->
  <div class="checkbox-container">
    <input type="checkbox" id="exampleCheckbox" name="exampleCheckbox" />
    <label for="exampleCheckbox">Check this box</label>
  </div>
  <label for="Agreement"> Agree to our Terms of use and Privacy Policy </label><br>



  <button type="button">Submit</button>

  <p>Already have an account? <a href="#">Login</a></p>
</div>
</body>

</html>
