<div class="bottom-bar">
  <div class="left-section">
    <span class="interaction-text">Interaction ways:</span>
    <button type="button" class="icon-button">
      <img src="../../../../assets/top-bar/voice.png" alt="Voice">
    </button>
    <button type="button" class="icon-button">
      <img src="../../../../assets/top-bar/hand.png" alt="Hand">
    </button>
  </div>
  
  <img src="../../../../assets/logo.png" alt="ShopWise Logo" class="logo">
  
  <div class="search-container">
    <input type="text" placeholder="Search...">
    <button type="submit" class="search-button">
      <img src="../../../../assets/top-bar/search-icon.png" alt="Search">
    </button>
  </div>
</div>
