<div class="bottom-bar">
  <div class="left-section">
    <span class="interaction-text">Interaction ways:</span>
    <button type="button" class="icon-button" (click)="onVoiceButtonClick()">
      <img src="../../../../assets/top-bar/voice.png" alt="Voice">
    </button>    
    <button type="button" class="icon-button">
      <img src="../../../../assets/top-bar/hand.png" alt="Hand">
    </button>
  </div>
  
  <img src="../../../../assets/logo.png" alt="ShopWise Logo" class="logo">

  <!-- Search Input Container -->
  <div class="search-container">
    <input type="text" [(ngModel)]="searchQuery" placeholder="Search...">
    <button type="button" class="search-button" (click)="onSearch()">
      <img src="../../../../assets/top-bar/search-icon.png" alt="Search">
    </button>
  </div>
</div>
