<div class="logo-container" >
  <img (click)="goToFridgeMain()" src="assets/phone-images/ShopWise.png" alt="ShopWise Logo"  style="max-width: 40%; height: auto; cursor: pointer">
  <h1 style="width: 35%; text-align: center">For Fridge</h1>
</div>

<div class="logo-container" >
  <div class="grey-box">
    <p>Status of fridge : opened  temperature : 3°C</p>
  </div>
  <div style="width: 60%"></div>
  <button (click)="goToFridgeShoppingList()" style="width: 15%; margin-right: 25px">Shopping List</button>
</div>
<h1>Currently in storage</h1>

<div class="items-container">
  <div *ngFor="let row of items; let i = index" class="row">
    <div *ngFor="let item of items.slice(i * 3, i * 3 + 3)" class="col">
      <img  [src]="item.imageUrl" alt="{{ item.name }}">
      <h1>{{ item.name }}</h1>
      <p>Quantity: {{ item.quantity }}</p>
      <p>Expiration in: {{ item.expiration }} days</p>
    </div>
  </div>
</div>
<h1>Smart Recipe</h1>

<div class="grey-box-2">
  <p>Please tell me your Recipe or you can use the microphone to enable voice activity</p>

  <button (click)="goToRecipePage()" class="button2">
      <img style="width: 25%;height: 25%" src="../../../assets/items/recipe.png" alt="Recipe Icon">
  </button>

  <button class="button2">
      <img style="width: 10%;height: 15%" src="../../../assets/items/Microphone.png" alt="Microphone Icon">
  </button>

  <p>And the ingredients will be added to the shopping list automatically</p>
</div>



