.main-container {
  display: flex;
  height: 46vh; // Set the main container to full viewport height
  width: 100%; // Set the main container to full width of the viewport
  margin: 0; // Reset any default margin

  .cart-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #d9d9d9;
    padding: 10px;
    border-radius: 5px;
    overflow-y: auto; // Enable scrolling if content overflows

    .item-box {
      display: flex;
      align-items: center;
      padding: 10px;
      margin-bottom: 10px;
      background-color: white;
      border-radius: 5px;
      height: 5vh; // Use min-height for flexible box height
      &.selected {
        border: 2px solid yellow;
      }

      .item-image {
        width: 15%;
        height: 85%; // Keep the height relative to the item box
        border-radius: 5px;
        margin-right: 10px;
      }

      .item-details {
        display: flex;
        align-items: center;
        width: 100%;

        .item-name {
          flex-grow: 0;
          flex-basis: 50%; // Item name takes up 40% of the item-details width
          overflow: hidden; // Ensures text doesn't overflow its container
          white-space: nowrap;
          text-overflow: ellipsis; // Add ellipsis if text overflows
          font-size: 3vw;
          align-items: center;
        }

        .amount-selector {
          flex-grow: 0;
          flex-basis: 30%; // Amount selector takes up 25% of the item-details width
          display: flex;
          align-items: center;
          justify-content: center; // Center the buttons and amount within the selector

          button {
            border: none;
            background-color: #92C848;
            color: white;
            padding: 5px ;
            margin: 0;
            border-radius: 5px;
            cursor: pointer;
            font-size: 3vw; // Ensure the font size is responsive
            width: 3em;
          }
          span {
            min-width: 4vw;
            text-align: center;
          }
        }
        .item-price {
          flex-grow: 0;
          flex-basis: 20%; // Item price takes up 15% of the item-details width
          font-weight: bold;
          text-align: center; // Align the text to the right
        }
      }
    }
  }

}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  width: 50%;
  height: auto;
}

button {
  background-color: #92C848;
  color: white;
  padding: 3px;
  border: none;
  border-radius: 20px;
  width: 40%;
  font-size: 2em;
  cursor: pointer;
  margin: 0px;
}

.grey-box {
  width: 60%;
  background-color: #dddddd;
  padding: 10px;
  margin: 20px;
}

p {
  font-size: 2em;
}

.fridge-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.col {
  flex: 0 0 calc(33.33% - 10px); /* Adjust width as needed */
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;

  img {
    max-width: 100%;  // Set maximum width to 100% of the container
    max-height: 100%; // Set maximum height to 100% of the container
    height: auto;     // Ensure the aspect ratio is maintained
  }
}
button2{
  background-color: red;
  color: white;
  padding: 3px;
  border: none;
  border-radius: 20px;
  width: 10%;
  font-size: 1.2em;
  cursor: pointer;
  margin: 20px;
}

.grey-box-2 {
  width: 100%;
  background-color: #dddddd;
  padding: 10px;
  margin: 20px;
}

.tiny-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  border: 1px solid #333;

}

.tiny-button.white {
  background-color: #fff;
}

.tiny-button.black {
  background-color: #000;
}




